.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
}

.item {
  font-size: var(--fs-lg);
  font-weight: 400;
  margin: 1rem 0;
  letter-spacing: -0.03em;
  color: var(--color-black);
  font-family: var(--font-heading);
}
