.container {
  display: grid;
  grid-template-columns: 1fr;
  padding: 3rem var(--page-padding-mobile) 0;

  @media (min-width: 56.25em) {
    padding: 3rem var(--page-padding-desktop);
  }
}

.heading {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 6rem;

  @media (min-width: 56.25em) {
    grid-template-columns: repeat(12, 1fr);
    column-gap: 2rem;
    padding: 0 0 3rem;

    h1 {
      font-size: 5rem;
      grid-column: 1 / 5;
    }

    p {
      grid-column: 7 / 12;
      grid-row: 2;
      display: grid;
      align-self: end;
      font-size: 1.2rem;
      line-height: 1.9;
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
}

.stage {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 2rem;
  padding: 0 0 3rem;

  h2 {
    font-size: 3rem;
    grid-column: 1 / 6;

    span {
      font-size: 1.5rem;
      vertical-align: super;
      margin-right: 0.5rem;
    }
  }

  p {
    grid-column: 7 / 12;
    grid-row: 2;
    display: grid;
    align-self: end;
    font-size: 1.2rem;
    line-height: 1.9;
  }
}
