.container {
  width: 100%;
  position: relative;
  overflow: clip;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 3rem;
  align-items: center;
  padding: 3rem var(--page-padding-mobile);

  @media (min-width: 56.25em) {
    grid-template-columns: repeat(8, 1fr);
    column-gap: 2rem;
    padding: 3rem var(--page-padding-desktop);

    a {
      grid-row: 3;
      grid-column: 5 / 7;
      width: max-content;
    }
  }
}

.title,
.text {
  margin: 0;
  position: relative;
  z-index: 0;
}

.title {
  // display: flex;
  font-size: var(--fs-xl);
  span {
    // white-space: pre-wrap;
    display: block;
  }

  @media (min-width: 360px) {
    font-size: var(--fs-h3);
  }

  @media (min-width: 56.25em) {
    font-size: 7rem;
    font-weight: 500;
    align-self: center;
    line-height: 1;
    grid-column: 1 / 9;
    grid-row: 1;
  }
}

.subtitle {
  grid-row: 2;
}

.text {
  font-size: var(--fs-bs);
  font-weight: 470;
  line-height: 1.9;
  max-width: 60ch;

  @media (min-width: 56.25em) {
    font-size: var(--fs-md);
    align-self: end;
    grid-row: 2;
    grid-column: 5 / 8;
    text-align: left;
    position: relative;
    z-index: 1;
  }
}

.projectsWrapper {
  padding: 3rem var(--page-padding-mobile);
  position: relative;

  @media (min-width: 56.25em) {
    padding: 3rem var(--page-padding-desktop);
  }
}

.projectsImages {
  display: flex;
  flex-direction: column;
  line-height: 1;
  position: relative;
  gap: 2rem;

  @media (min-width: 48em) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    // flex-direction: row;
    gap: 2rem;
    // grid-template-columns: repeat(4, auto);
    // column-gap: 2rem;
  }

  @media (min-width: 56.25em) {
    grid-template-columns: repeat(4, 1fr);
  }

  a {
    cursor: pointer;
    height: auto;
    // max-width: 70%;

    &:hover {
      .overlay {
        opacity: 1;
        height: auto;
        aspect-ratio: 2 / 3;
      }

      img {
        // transform: scale(1.02);
        transition: transform 0.5s ease;
      }
    }

    .projectTitle {
      h2 {
        color: var(--color-projects);
        font-size: var(--fs-bs);
        font-variation-settings: "wght" 450;
        font-weight: 450;
        letter-spacing: -0.01em;
        line-height: 1;
        margin-top: 0.5rem;
      }
    }

    // &:nth-child(even) {
    //   margin-left: auto;
    // }

    // &:nth-child(odd) {
    //   margin-right: auto;
    // }

    // @media (min-width: 56.25em) {
    //   width: max-content;
    //   max-width: 100%;

    //   &:nth-child(even) {
    //     margin-left: unset;
    //   }

    //   &:nth-child(odd) {
    //     margin-right: unset;
    //   }
    // }
  }
}

.imageWrapper {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  aspect-ratio: 2 / 3;

  img {
    object-fit: cover;
    margin-bottom: 0;
    transition: all 0.5s ease;
    aspect-ratio: 2 / 3;
    width: 100%;
    height: auto;
    // max-width: 400px;

    // @supports not (aspect-ratio: 2 / 3) {
    //   height: 100%;
    //   max-height: calc(100vh - 5rem);
    //   width: 100%;
    // }

    @media (min-width: 56.25em) {
      // max-width: 100%;
      max-height: 100%;
    }
  }
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: all 0.32s ease;
  background-color: rgba(255, 255, 255, 0.15);
}

.allProjects {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: var(--font-heading);
  font-variation-settings: "wght" 500;
  font-weight: 500;
  margin-bottom: 12rem;
}

.button {
  border: 2px solid var(--color-projects);
  color: var(--color-projects);
  padding: 0.5rem 0.75rem;
  font-family: var(--font-heading);
  font-size: var(--fs-bs);
  font-variation-settings: "wght" 550;
  font-weight: 550;
  transition: all 0.23s ease;
  position: relative;
  overflow: hidden;
  width: max-content;
  margin-top: 6rem;

  &::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-projects);
    transition: all 0.23s ease;
    z-index: -1;
  }

  &:hover {
    color: var(--color-white);
    transition: all 0.23s ease;
    border-color: var(--color-projects);

    &::before {
      top: 0%;
      transition: all 0.23s ease;
    }
  }

  @media (min-width: 56.25em) {
    z-index: 1;
  }
}

// SHAPES

.shape {
  position: absolute;
  z-index: 0;
  pointer-events: none;
}

.shape1blue {
  top: 35rem;
  right: -10%;
  width: 350px;
}

.shape1brown {
  top: 48rem;
  left: -1rem;
  width: 250px;
  transform: rotate(-30deg);
  z-index: 0;
}

.shape2pink {
  top: 1rem;
  left: -8rem;
  width: 350px;
  height: auto;
}

.shape3green {
  top: 75%;
  left: -10%;
  transform: rotate(30deg);
  width: 450px;
}

@media (min-width: 56.25em) {
  .shape1blue {
    top: 30rem;
    right: -5rem;
    width: 500px;
  }

  .shape1brown {
    top: -10rem;
    left: 20rem;
    width: 150px;
  }

  .shape2pink {
    top: 1rem;
    left: -8rem;
    width: 600px;
  }

  .shape3green {
    top: 35rem;
    left: 50%;
    transform: translateX(-50%);
  }
}
