.container {
	width: 100%;
}

.wrapper {
	display: grid;
	grid-template-columns: 1fr;
	row-gap: 3rem;
	align-items: center;
	padding: 3rem var(--page-padding-mobile);

	@media (min-width: 56.25em) {
		grid-template-columns: repeat(8, 1fr);

		padding: 3rem var(--page-padding-desktop);
	}
}

.title,
.text {
	margin: 0;
}

.title {
	@media (min-width: 56.25em) {
		font-size: 7rem;
		font-weight: 500;
		align-self: start;
		line-height: 1;
		grid-column: 1 /5;
		grid-row: 1;

		span {
			display: block;
		}
	}
}

.text {
	font-size: 1rem;
	font-weight: 470;
	line-height: 1.9;

	@media (min-width: 56.25em) {
		font-size: 1.2rem;
		align-self: end;
		grid-row: 2;
		grid-column: 5 / 8;
		text-align: justify;
	}
}

.projectsWrapper {
	padding: 3rem var(--page-padding-mobile);

	@media (min-width: 56.25em) {
		padding: 9rem var(--page-padding-desktop);
	}
}

.projectsImages {
	display: grid;
	grid-template-columns: 1fr;
	justify-items: stretch;
	row-gap: 6rem;
	line-height: 0;

	@media (min-width: 56.25em) {
		grid-template-columns: repeat(4, auto);
		column-gap: 2rem;
	}

	a {
		cursor: pointer;
		height: 100%;
		max-width: 70%;

		&:hover {
			.overlay {
				opacity: 1;
			}

			img {
				transform: scale(1.02);
				transition: transform 0.5s ease;
			}
		}

		.projectTitle {
			display: flex;
			margin-top: 1rem;
			h3 {
				color: var(--color-projects);
			}
		}

		&:nth-child(even) {
			margin-left: auto;
		}

		@media (min-width: 56.25em) {
			width: 100%;
			max-width: 100%;

			&:nth-child(even) {
				margin-left: unset;
			}

			&:nth-child(odd) {
				margin-top: -5rem;
			}
		}
	}
}

.imageWrapper {
	width: 100%;
	height: auto;
	position: relative;
	overflow: hidden;

	img {
		object-fit: cover;
		height: 100%;
		max-height: calc(100vh - 5rem);
		width: 100%;
		max-width: 400px;
		margin-bottom: 0;
		transition: all 0.5s ease;
	}
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: all 0.32s ease;
	background-color: rgba(255, 255, 255, 0.15);
}

.allProjects {
	display: flex;
	justify-content: center;
	text-align: center;
	margin-top: 8rem;
	font-family: var(--font-heading);
	font-variation-settings: 'wght' 500;
	font-size: 1.5rem;
}
