.container {
	width: 100%;
	background-color: #fff;
}

.wrapper {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	min-height: 3rem;
	padding: 2rem 1rem;

	@media (min-width: 768px) {
		padding: 2rem 1rem;
	}

	@media (min-width: 1024px) {
		// padding: 2rem 8rem;
		justify-content: space-between;
	}
}

.logo {
	font-size: 2rem;
	text-transform: uppercase;
	color: #333;
	width: 100%;
	text-align: center;
	margin-bottom: 1rem;

	@media (min-width: 768px) {
		margin-bottom: 0;
		width: max-content;
		text-align: left;
	}
}

.nav {
	display: flex;
	align-items: center;
	width: 100%;

	@media (min-width: 768px) {
		width: auto;
	}
}

.list {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	list-style: none;
	width: 100%;
}

.item {
	&:not(:first-child) {
		// margin-right: 1rem;
		margin: 0 0 0 0.8rem;
	}
	// margin: 0 0 0 2rem;
	color: #333;
	font-size: 1.2rem;
}

.link {
	color: #333;
	&:last-child {
		border: 2px solid #333;
		padding: 0.5rem 1rem;
	}
}
