.container {
	width: 100%;
}

.wrapper {
	display: grid;
	grid-template-columns: 1fr;
	// grid-gap: 2rem;
	align-items: center;
	padding: 3rem var(--page-padding-mobile) 0;

	@media (min-width: 56.25em) {
		padding: 3rem var(--page-padding-desktop);
	}
}

.text {
	margin: 0;
}

.title {
	font-size: var(--fs-xxl);
	// font-size: 5.6rem;
	// font-size: 3rem;
	font-weight: 500;
	// font-style: italic;
	margin-bottom: 0.5rem;

	@media (min-width: 768px) {
		font-size: var(--fs-xl);
	}
}

.textTitle {
	font-family: 'Satoshi', sans-serif;
	font-size: var(--fs-bs);
	font-weight: 400;
	text-transform: uppercase;
	line-height: normal;
}

.text {
	font-size: var(--fs-bs);
	margin-bottom: 1rem;
	font-weight: 400;
	text-align: justify;
	line-height: normal;
	align-self: end;
	max-width: 90%;
}

.featured {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 4rem;
}

.projects {
	padding: 0 var(--page-padding-mobile);
	text-align: center;

	@media (min-width: 56.25em) {
		padding: 3rem var(--page-padding-desktop);
	}
}

.projectsImages {
	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
	justify-content: center;
	padding: 3rem 0;

	@media (min-width: 768px) {
		grid-template-columns: auto auto;
		grid-gap: 2rem;
	}

	img {
		object-fit: cover;
		max-height: calc(100% - 5rem);
		height: 100%;
		max-width: 100%;
		width: 100%;
	}
}

.imageWrapper {
	// max-width: 100%;
	width: 100%;
	height: 100%;

	img {
		max-height: 700px;
		height: auto;
		object-fit: cover;
	}
}
