.container {
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 3rem;

  h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 2rem;
    padding: 0 var(--page-padding-mobile);
  }

  @media (min-width: 56.25em) {
    h1 {
      padding: 0 var(--page-padding-desktop);
      font-size: 5rem;
    }
  }
}

// .content {
//   & > div:nth-child(1) {
//     background-color: #cdd7e2;
//   }

//   & > div:nth-child(2) {
//     background-color: #cdbeb9;
//   }

//   & > div:nth-child(3) {
//     background-color: #b0b39e;
//   }
//   & > div:nth-child(3) {
//     background-color: #c6b599;
//   }
// }

.publication {
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem;
  font-size: 1.5rem;
  letter-spacing: -0.02em;
  padding: 3rem var(--page-padding-mobile);

  h2 {
    font-size: 2rem;
    margin-bottom: 2rem;

    span {
      font-size: 1.5rem;
      vertical-align: super;
      margin-right: 0.5rem;
    }
  }

  @media (min-width: 56.25em) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding-left: var(--page-padding-desktop);

    h2 {
      grid-column: 1 / 7;
      font-size: 3rem;
    }
  }
}

.listWrapper {
  ul {
    list-style: none;
    padding: 0;
    // margin: 3rem 0;

    li {
      font-size: 1.2rem;
      display: block;
      margin-bottom: 2rem;

      a {
        width: max-content;
        color: #545252;
        transition: color 0.2s ease;

        &:hover {
          color: var(--color-black);
          transition: color 0.15s ease;
        }

        div {
          display: inline-block;
          cursor: pointer;
          width: max-content;
        }
      }
    }
  }

  @media (min-width: 56.25em) {
    grid-column: 7 / 13;
    grid-row: 2;
  }
}
